<div class="bg-white rounded-sm p-2 flex shadow-lg mt-2">
    <img style="height: 6rem; width: 7rem;" class="" src="{{productImg}}" alt="{{productName}}" />
    <div class="ml-1 flex flex-col justify-between w-full">
        <h1 class="font-black text-gray-700">
            {{productName}}
        </h1>
        <p class="font-light grid-rows-4">
            {{productDescription}} 
        </p>

        <p class="font-black text-end text-[1rem] text-gray-800">
            {{productValue}}
        </p>
    </div>
</div>