<app-header></app-header>

<main class="mx-5 md:mx-40 my-6">
  <section class="mb-10">
    <h1 class="text-2xl font-bold  mb-4">
      Faitas Grandes
    </h1>

    <div class="md:grid md:grid-cols-4 gap-1">
      <app-card 
        productName="Faita de Frango"
        productImg="/assets/faita.jpeg"
        productValue="3.000,00 Kz" />

      <app-card 
        productName="Faita de Carne"
        productImg="/assets/faita.jpeg"
        productValue="3.500,00 Kz" />

      <app-card 
        productName="Faita Mista"
        productImg="/assets/faita.jpeg"
        productValue="3.500,00 Kz" />

      <app-card 
        productName="Faita de Frango e Camarão"
        productImg="/assets/faita.jpeg"
        productValue="4.500,00 Kz" />

      <app-card 
        productName="Faita de Camarão"
        productImg="/assets/faita.jpeg"
        productValue="5.500,00 Kz" />
    </div>
  </section>

  <section class="mb-10">
    <h1 class="text-2xl font-bold mb-4">
      Faitas Pequenas
    </h1>

    <div class="md:grid md:grid-cols-4 gap-1">
      <app-card 
        productName="Faita de Frango"
        productImg="/assets/faita.jpeg"
        productValue="2.000,00 Kz" />

      <app-card 
        productName="Faita de Carne"
        productImg="/assets/faita.jpeg"
        productValue="2.500,00 Kz" />

      <app-card 
        productName="Faita Mista"
        productImg="/assets/faita.jpeg"
        productValue="2.500,00 Kz" />

    </div>
  </section>

  <section class="mb-10">
    <h1 class="text-2xl font-bold  mb-4">
      Dose de Batata Frita
    </h1>

    <div class="md:grid md:grid-cols-4 gap-1">
      <app-card 
        productName="Batata Doce"
        productImg="/assets/batata.jpeg"
        productValue="1.000,00 Kz" />

      <app-card 
        productName="Batata Rena"
        productImg="/assets/batata.jpeg"
        productValue="1.000,00 Kz" />
    </div>
  </section>
  
  <section class="mb-10">
    <h1 class="text-2xl font-bold  mb-4">
      Sumos Naturais & Outras Bebidas
    </h1>

    <div class="md:grid md:grid-cols-4 gap-1">
      <app-card 
        productName="Sumo Copo Grande"
        productImg="/assets/copo_sumo.jpeg"
        productValue="1.500,00 Kz" />

      <app-card 
        productName="Sumo Copo Pequeno"
        productImg="/assets/copo_sumo.jpeg"
        productValue="1.000,00 Kz" />

      <app-card 
        productName="Limonada (Rosé)"
        productImg="/assets/limonada_rose.jpeg"
        productValue="500,00 Kz" />

      <app-card 
        productName="Café Expresso Mimoso"
        productImg="/assets/cafe.jpeg"
        productValue="500,00 Kz" />  

      <app-card 
        productName="Ice Tea Mimoso (Chá fresco)"
        productImg="/assets/ice_tea.jpeg"
        productValue="1.000,00 Kz" />

      <app-card 
        productName="Chá Mimoso (hortelã, manjericão e limão)"
        productImg="/assets/cha.jpeg"
        productValue="500,00 Kz" />
      
      <app-card 
        productName="Água Mineral Pequena"
        productImg="/assets/agua_mineral.jpeg"
        productValue="200,00 Kz" />  
    </div>
  </section>

  <section class="mb-10">
    <h1 class="text-2xl font-bold  mb-4">
      Gelados
    </h1>

    <div class="md:grid md:grid-cols-4 gap-1">
      <app-card 
        productName="Mimosinho Copo"
        productImg="/assets/gelados_copo.jpeg"
        productValue="1.000,00 Kz" />

      <app-card 
        productName="Super Mimoso Copo"
        productImg="/assets/gelados_copo.jpeg"
        productValue="1.500,00 Kz" />

      <app-card 
        productName="Mimosinho Cone"
        productImg="/assets/gelados_cone.jpeg"
        productValue="1.000,00 Kz" />

      <app-card 
        productName="Super Mimoso Cone"
        productImg="/assets/gelados_cone.jpeg"
        productValue="1.500,00 Kz" />

      <app-card 
        productName="Chique"
        productImg="/assets/gelados_copo.jpeg"        
        productValue="3.500,00 Kz" />

      <app-card 
        productName="Tigela Para Levar"
        productImg="/assets/gelados_tigela.jpeg"
        productValue="5.000,00 Kz" />
    </div>
  </section>

  <section class="mb-10">
    <h1 class="text-2xl font-bold  mb-4">
      Pacotes Combo
    </h1>

    <div class="md:grid md:grid-cols-4 gap-1">
      <app-card 
        productName="Combo Mimo"
        productImg="/assets/combo.jpeg"
        productValue="3.900,00 Kz" />

      <app-card 
        productName="Combo Mimosão"
        productImg="/assets/combo.jpeg"
        productValue="11.200,00 Kz" />
    </div>
  </section>
</main>

<app-footer></app-footer>
